.popup__container {
  display: flex;
  position: relative;
  margin: 0 auto;
  flex-direction: column;
}
/*
@media screen and (max-width: 768px) {
  .popup__container {
    width: 282px;
    padding: 25px 22px;
  }
}

@media screen and (max-width: 320px) {
  .popup__container {
    min-height: 322px;
    justify-content: space-between;
  }
}*/